#container {
    scroll-snap-type: y mandatory;
    overflow: auto;
    height: 100vh;
}
body {
    overflow: hidden;
}
.navbar {
    scroll-snap-align: start;
    width: 100%;
    background-color: white;
}
footer div {
    background-color: white;
}

/* background image */

#image-container {
    scroll-snap-align: end;
    position: relative;
    width: 100%;
    width: 100%;
    height: 100vh;
}
#background-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#detail-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}
.information {
    color: white;
    font-size: 280%;
    text-shadow: 2px 2px 8px black;
    margin: 15px;
}
#temp:hover {
    cursor: pointer;
}
@media (max-width: 1200px) {
    #content-container {
        width: 75%;
        font-size: 170%;
    }
    .information {
        font-size: 100%;
    }
}
@media (max-width: 600px) {
    #content-container {
        font-size: 150%;
        width: 100%;
    }
    .information {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    #detail-container {
        flex-direction: column;
    }
}
footer {
    scroll-snap-align: start;
}